@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

:root {
  --orange: orange;
  --aliceblue: rgb(138, 195, 245);
  --red: rgb(197, 112, 112);
  --green:   rgb(93, 173, 93);
  --antiquewhite: rgb(156, 121, 76);
  --cornflowerblue: rgb(60, 104, 184);
}

body {
  background-color: var(--cornflowerblue);
}

.start-btn,
.info-box,
.quiz-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* start Quiz button */
.start-btn button {
  font-size: 25px;
  font-weight: 500;
  color: var(--cornflowerblue);
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--aliceblue);
  cursor: pointer;
}

.info-box {
  display: none;
  width: 33.75rem;
  background-color: white;
}

.info-box .info-title {
  height: 3.75rem;
  width: 100%;
  border-bottom: 1px solid var(--antiquewhite);
  display: flex;
  align-items: center;
  padding: 0 2.19rem;
  font-size: 20px;
  font-weight: 500;
}

.info-box .info-list {
  padding: 1rem 2rem;
}

.info-box .info-list .info {
 margin: 5px 0;
 font-size: 17px;
}

.info-box .info-list .info span {
  font-weight: 500;
  color: var(--cornflowerblue);
}

.info-box .buttons {
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  border-top: 1px solid var(--antiquewhite);
}

.info-box .buttons button {
  margin: 0 5px;
  height: 2rem;
  width: 6rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: white;
  background-color: var(--orange);
}

.buttons button.restart:hover {
  background: var(--cornflowerblue);
}

.buttons button.quit {
  border-color: var(--cornflowerblue);
  color: var(--cornflowerblue);
}

.buttons button.quit:hover {
  color: var(--aliceblue);
  background: var(--cornflowerblue);
}

.quiz-box{
  width: 34.38rem;
  background: white;
  border-radius: 5px;
}

.quiz-box header {
  position: relative;
  z-index: 99;
  height: 4.4rem;
  padding: 0 2rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz-box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz-box header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9rem;
  height: 3rem;
  background-color: var(--aliceblue);
  border: 1px solid rgb(100, 175, 241);
  border-radius: 5px;
  padding: 0 8px;
}

.quiz-box header .timer .time-text {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quiz-box header .timer .timer-sec {
  font-size: 18px;
  font-weight: 500;
  background-color: grey;
  height: 2rem;
  width: 3rem;
  color: white;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(207, 200, 200);
  user-select: none;
}

.quiz-box section {
  padding: 25px 30px 20px 30px;
  background-color: white;
}

.quiz-box section .que-text {
  font-size: 25px;
  font-weight: 600;
}

.quiz-box section .option-list .option {
  background-color: aliceblue;
  border: 1px solid var(--aliceblue);
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 1rem;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

section .option-list .option:hover {

}

.option-list .option:last-child {
  margin-bottom: 0px;
}

.option-list .option .icon {

}